@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
    --sub-heading:hsl(276, 100%, 81%);
    --left-chat:hsl(276, 55%, 52%);
    --right-chat:hsl(271, 15%, 43%);
    --placeholder:hsl(206, 6%, 79%);
    --main-heading:hsl(271, 36%, 24%);
    --paragraph:hsl(270, 7%, 64%);
    --magenta-gradient:hsl(293, 100%, 63%);
    --violet-gradient:hsl(264, 100%, 61%);
    --white:hsl(0,0%,100%);
    --app-background:hsl(270, 20%, 96%);
    --send-button:hsl(271, 36%, 24%);
    --radio-button:hsl(289, 100%, 72%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--white);
}
section{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.mobile{
    background-color: var(--white);
    width: 70vw;
    padding: 0.625rem;
    border-radius: 1.2rem;
    margin-top: 5rem;
    box-shadow: 1px 1px 8px 1px #808080b8;
}
.chat{
    background-color: var(--app-background);
    border-radius: 1rem;
}
.background{
    background: linear-gradient(45deg,hsl(264, 100%, 61%) 0%,hsl(293, 100%, 63%) 100%);
    color: var(--white);
    border-radius: 1rem 1rem 0.4rem 0.4rem;
}
.notch{
    background-color: var(--white);
    height: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 0 0 1.5rem 1.5rem;
}
.appbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    margin-bottom: 1rem;
}
.name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}
.name img{
    border-radius: 1.5rem;
    border: 1px solid var(--white);
    width: 2rem;
}
.name p{
    font-size: 0.5rem;
    color: var(--sub-heading);
}

.left-chat{
    width: 50%;
    font-size: 0.5rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    color: var(--left-chat);
    background-color: hsla(0, 0%, 79%, 0.418);
    border-radius: 0.8rem 0.8rem 0.8rem 0.2rem;
}
.right-chat{
    width: 50%;
    font-size: 0.5rem;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    color: var(--right-chat);
    background-color: var(--white);
    border-radius: 0.8rem 0.8rem 0.2rem 0.8rem;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.images{
    margin-top: 0.4rem;
    margin-right: 0.5rem;
}
.images img{
    width: 32px;
    border-radius: 0.5rem;
}
.chargeOne{
    background: linear-gradient(45deg,hsl(293, 100%, 63%) 0%,hsl(264, 100%, 61%) 100%);
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 60%;
    border-radius: 0.8rem 0.8rem 0.8rem 0.2rem;
    font-size: 8px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chargeOne i{
    font-size: 1rem;
    color: var(--sub-heading);
}
.chargeOne p{
    font-size: 0.8rem;
    font-weight: 500;
}
.send{
    display: flex;
    justify-content: center;
}
.search{
    background-color: var(--white);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-radius: 1.2rem;
    font-size: 0.7rem;
    color: var(--placeholder);
    font-weight: 400;
}
.icon{
    background-color: var(--send-button);
    width: 24px;
    border-radius: 1.5rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.625rem;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
}
.content h2{
    font-size: 2rem;
    color: var(--main-heading);
    font-weight: 500;
    
}
.content p{
    color: var(--paragraph);
    line-height: 1.5;
    padding: 2rem;
}
.abstract1{
    width: 50%;
    height: 50vh;
    background-color: var(--left-chat);
    border-radius: 0 0 50rem 0;
    position: absolute;
    z-index: -1;
}
.abstract2{
    width: 50%;
    height: 80vh;
    background-color: var(--app-background);
    bottom: 0;
    right: 0;
    top: 24rem;
    position: absolute;
    z-index: -1;
    border-radius: 50rem 0 0 0;
}
@media screen and (min-width: 700px){
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        gap: 2rem;
    }
    .mobile{
        margin-top: 2rem;
        width: 45%;
    }
    .name{
        font-size: 0.8rem;
    }
    .content{
        width: 50%;
        align-items: flex-start;
    }
    
    .content p{
        align-items: flex-start;
        padding: 0;
        margin-top: 2rem;
        text-align: left;
    }
    .abstract1{
        width: 20%;
        height: 90vh;
        border-radius: 0 0 10rem 10rem;
    }
    .abstract2{
        top:8rem;
        height: 60vh;
    }
}
@media screen and (min-width: 960px){
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        gap: 5rem;
    }
    .mobile{
        margin-top: 5rem;
        width: 25%;
    }
    .name{
        font-size: 0.8rem;
    }
    .content{
        width: 50%;
        align-items: flex-start;
    }
    
    .content p{
        align-items: flex-start;
        padding: 0;
        margin-top: 2rem;
        text-align: left;
    }
    .abstract1{
        width: 25%;
        height: 90vh;
        border-radius: 0 0 10rem 10rem;
    }
    .abstract2{
        top:8rem;
        height: 80vh;
    }
}